
@{
    ViewBag.Title = "Add New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="mt30l15r10">
    <h2 class="text-center caption">@ViewBag.Title</h2>
    <form class="form-horizontal" enctype="multipart/form-data" action="@Url.Action("Create")">
        <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="ddlBrand">Brand</label>
                <div class="controls">
                    @Html.DropDownList("ddlBrand", (IEnumerable<SelectListItem>)ViewBag.prodBrand, new { @class ="input-small"})
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="txtCode">Code</label>
                <div class="controls">
                    <input id="txtCode" name="txtCode" type="text" placeholder="Product Code" class="input-medium" required="">
                    <p class="help-block">Enter product code</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="txtPrice">Price</label>
                <div class="controls">
                    <input id="txtPrice" name="txtPrice" type="text" placeholder="Product Price" class="input-medium" required="">
                    <p class="help-block">Enter product price</p>
                </div>
            </div>

            <!-- File Button -->
            <div class="control-group">
                <label class="control-label" for="myfile">Images</label>
                <div class="controls">
                    <input id="myfile" name="myfile" class="input-file" type="file">
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>

