.mt30l15r10 {
    margin-top: 30px;
    margin-left:15px;
    margin-right: 10px;
}
.ml20i{
    margin-left: 20px !important;
}
.mt30{
    margin-top: 30px;
}
.aln-v-i{
    vertical-align: inherit;
}
.xSize100{
    max-width: 100px;
    max-height: 100px
}
.mt10 {
    margin-top: 10px;
}
.txt-strike{
    text-decoration:line-through;
}