.mt30l15r10 {
    margin-top: 30px;
    margin-left:15px;
    margin-right: 10px;
}
.ml20i{
    margin-left: 20px !important;
}
.mt30{
    margin-top: 30px;
}
.aln-v-i{
    vertical-align: inherit;
}
.xSize100{
    max-width: 100px;
    max-height: 100px
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.txt-strike{
    text-decoration:line-through;
}
.dpl-none{display:none;}
.my-spinner {
    width: 100%;
    height: 30px;
    background: white url('../Images/spinner.gif') no-repeat center;
}
.wth35{
    width: 35px;
}
.mb10{
    margin-bottom:10px;
}
.ml10{
    margin-left:10px;
}