<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="NailhubsEntities" connectionString="metadata=res://*/NailhubEntities.csdl|res://*/NailhubEntities.ssdl|res://*/NailhubEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CORP-8D8CFX1\STLUONG;initial catalog=Nailhubs;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>