@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="jumbotron">
    <h1>@ViewBag.Msg</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>