@{
    ViewBag.Title = "Contact";
}

<div class="mt30l15r10">
    <hgroup>
        <h2>@ViewBag.Title</h2>
    </hgroup>
    <div>
        <address>
            2909 North Kingshyway Blvd<br />
            Saint Louis, Mo 63115<br />
            <abbr title="Phone">
                1-314-914-2435
            </abbr>
        </address>

        <address>
            <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:luc.huynh78@gmail.com">luc.huynh78@gmail.com</a>
        </address>
    </div>
</div>
