@{
    ViewBag.Title = "Contact";
}

<div class="mt30l15r10">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </hgroup>
    <div>
        <address>
            Address1<br />
            Address2<br />
            <abbr title="Phone">P:</abbr>
            PhoneNumber
        </address>

        <address>
            <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:luc.huynh78@gmail.com">luc.huynh78@gmail.com</a>
        </address>
    </div>
</div>
