
<div class='form-group'>
    <input id='chkBopCo' type='checkbox' value='Bop Co' /> Bop co
</div>

<div class='form-group'>
    <input id='txtEmail' type='text' placeholder='Email' class='form-control input-large' />
    <p class='help-block'>Enter if you have!</p>
</div>

<div class='form-group'>
    <label class='control-label checkbox'>Shipping Address</label>
    <textarea id='txtShipping' data-toggle="tooltip" title="Please tell me where to ship?" placeholder='Tell me where to ship?' class='form-control input-large' />
</div>
<div class='form-group'>
    <label class='control-label'>
        Shipping:
    </label>
    <label>@ViewBag.shpFee</label>
    <p class='help-block danger'>Free shipping for order over $30!!</p>
</div>

