@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt30l15r10">
    <h2>Policy</h2>
    <section>
        Myburs would not accept any brush has been used then return that to us<br />
        thereof such brush perhaps exchange gladly, which is meaning an of clients disagree
        current one, Mybrus will process exchange with satisfaction for all clients.
        </br>Customers will responsibility for shipping fee or fully.
        <br />Thank you for understanding. We are a tiny business industry!
    </section>
</div>


